body{
    margin: 0;
    padding: 0;
    background-color: 	#2B318F;
    background-size: cover;
    font-family: "Comfortaa", sans-serif;
}

.login{
    width: 320px;
    height: 520px;
    border: 1px solid #000;
    border-radius: 80px 0px 80px 0px;
    background-color: 	#E0FFFF ;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 68px 28px;
}

.usuario{
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: 112px;
}

h1{
    margin: 0;
    padding-top: 0;
    padding-left: 0;
    padding-bottom: 20px;
    letter-spacing: uppercase;
    text-align: center;
    font-size: 20px;

}

.login p{
    margin: 0;
    padding: 0;
    font-weight: bold;
}
.login input{
    width: 100%;
    margin-bottom: 21px;
}



.login input[type="text"], input[type="password"], input[type="email"]  {
    border: none;
    border-radius: 10px 10px;
    border-bottom: 1px solid white;
    background: transparent;
    outline: none;
    height: 40px;
    font-size: 16px;
}

.login input[type="submit"], input[type="reset"]  {
    border: none;
    border-radius: 10px 10px;
    outline: none;
    height: 35px;
    color: #fff;
    background: #4169E1;
    transition: 0.2s;
}



